@import "tailwindcss";
*{
  box-sizing: border-box;
}
.amarante-regular {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}
button{
  cursor: pointer;
}
/* Toast slide-in animation */
@keyframes toastIn {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply animation when Toast enters and leaves */
.toast-slide {
  animation: toastIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}

/*Remove default scrollbars for carousel*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
